body, html {
    margin: 0;
    padding: 0;
    height: 100%;
       
}

.container {
    display: flex;
    height: 100%;
    font-family:'comforta';    
}
.left-side {
    flex-grow: 1;
    margin-top:0px;
    margin-left: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.right-side {
    width: 600px; 
    padding: 10px;
    margin-top:30px;
    margin-right: 200px;
    box-sizing: border-box;
}

.table_container {
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    border-radius:5px;
    text-align:center;
    padding: 8px;
    background-color: #f8efef;    

}
th {
    background-color: #f8efef;    
}

#deleteItemBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

#deleteItemBtn:hover {
    background-color: green;
}


.order_number_container {
    width: 600px;
    margin: 50px auto;
    margin-left: 50px;
    margin-bottom:10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'comforta';
    font-weight: bold;
    font-size:16px;
    border-radius:10px;
    background-color: #f8efef;
}

.order_number_container input {
    border-radius: 5px;
    border-width: thin;
    font-size: 16px;
    background-color: #f8efef;    
}

.date_container {
    width: 600px;
    margin: 10px auto;
    margin-left: 50px;
    margin-bottom:10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    background-color: #f8efef;
}

.due_date_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    background-color: #f8efef;
}

.customer_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.customer_container input[type="text"] {
    width: 80%; 
    font-size:18px;
    box-sizing: border-box;
    background-color: #f8efef;
    border-width: thin;
    border-radius: 5px;
}

.designer_container {
    width: 600px;
    margin-top: 10px;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 16px;
}

select#designer {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8efef;

}

select#designer option {
    font-size: 14px;
}

select#designer option:checked {
    background-color: #f0f0f0; 
}

.printer_container {
    width: 600px;
    margin-top: 10px;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 16px;

}

select#printer {
    padding: 5px;
    margin-left:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8efef;

}

select#printer option {
    font-size: 14px;
    color: #333; 
}

select#printer option:checked {
    background-color: #f0f0f0; 
}

.executor_container {
    width: 600px;
    margin-top: 10px;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 16px;

}

select#executor {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8efef;

}

select#executor option {
    font-size: 14px;
    color: #333; 
    background-color: #fff; 
}

select#executor option:checked {
    background-color: #f0f0f0; 
}

.discount_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.discount_container input {
    background-color: #f8efef;
    border-radius: 5px;
    border-width: thin;
    font-size: 16px;

}

.currency_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.currency_container input {
    background-color: #f8efef;
    border-radius: 5px;
    border-width: thin;
    font-size:16px;

}

.total_rub_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.total_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.value {
    display: inline-block;
}

.value input {
    width: 80px;
}

.btn_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    padding: 20px;
    background-color: #f8efef;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



#addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addButton:hover {
    background-color: green;
}


#saveButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveButton:hover {
    background-color: green;
}

#clearButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: green;
}