body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex;
    height: 100%;
}
.left-side {
    flex-grow: 1;
    margin-left: 50px;
    padding: 20px;
    box-sizing: border-box;
}
.right-side {
    width: 400px; /* Adjust as needed */
    padding: 20px;
    margin-top:50px;
    margin-right: 100px;
    box-sizing: border-box;
}

.table_container {
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
#itemBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#itemBtn:hover {
    background-color: green;
}

#deleteItemBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

#deleteItemBtn:hover {
    background-color: green;
}

.order_number_container {
    width: 600px;
    margin: 50px auto;
    margin-left: 50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size:16px;
}

.date_container {
    width: 600px;
    margin: 10px auto;
    margin-left: 50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.due_date_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.customer_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.customer_container input[type="text"] {
    width: 80%; 
    font-size:18px;
    box-sizing: border-box;
}

.discount_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.currency_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.total_rub_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.total_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    margin-bottom:10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}

.value {
    display: inline-block;
}

.value input {
    width: 80px;
}

.btn_container {
    width: 600px;
    margin: 10px auto;
    margin-left:50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



#addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addButton:hover {
    background-color: green;
}


#saveButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveButton:hover {
    background-color: green;
}

#clearButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: green;
}